/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    125deg,
    #060b37 0%,
    #090611 40%,
    #090611 50%,
    #090611 55%,
    #30052c 100%
  );
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.3) 1px,
      transparent 3px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.2) 1px, transparent 2px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 1px, transparent 1.5px);
  background-size: 550px 550px, 350px 350px, 250px 250px;
  background-position: 0 0, 40px 60px, 130px 270px;
  animation: twinkle 15s ease-in-out infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.4) 1px,
      transparent 1px
    ),
    radial-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 550px 550px, 350px 350px;
  background-position: 0 0, 40px 60px;
  filter: blur(1px);
  opacity: 0;
  animation: glow 15s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.shooting-star {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgb(255, 255, 255),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(200, 155, 236));
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.shooting-star::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.spinner {
  z-index: 1000;
  background-color: #0609188c;
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
